@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,400;0,500;0,700;1,100;1,400;1,700&family=Tilt+Neon&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --baseColor: white;
  --buttonColor: #B4B8C5;
  --backgroundColor: #5D737E;
  --selectedTabColor: #30292F;
  --navbarColor: #3F4045;
  --itemBackgroundColor: #02111B;
  --buttonHoverColor:#7c717b;
}

html::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: var(--backgroundColor);
}

.navbar {
  background-color: var(--navbarColor);
  font-family: "Tilt Neon";
}

.navbar-nav {
  margin-left: 2%;
}

.navbar-brand {
  margin-left: 5%;
}

.nav-link, .navbar-brand {
  color: white;
}

.nav-link:hover, .nav-link:active, .navbar-brand:hover, .navbar-brand:active{
  color: gray;
}

i {
  margin-right: 5px;
}

.btn {
  font-family: "Roboto Mono";
  background-color: var(--buttonColor);
  color: black;
  border: none;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--buttonHoverColor);
}

.btn:not(:disabled):active{
  background-color: var(--buttonHoverColor);
}

select, select option, .form-select {
  background-color: var(--buttonColor);
  font-size: 16px;
  border: none;
}





